<style>
    .pagination {
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: center; 
    }
    .pagination li {
        margin: 0 5px;
    }
    .pagination a,
    .pagination span {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #21b200; 
        border: 1px solid #dee2e6;
        border-radius: 5px;
        transition: all 0.3s ease; 
    }
    .pagination a:hover {
        background-color: #21b200; 
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    .pagination .active span {
        background-color: #21b200; 
        color: white;
        border: 1px solid #21b200; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    .pagination .disabled span {
        color: #6c757d;
        pointer-events: none;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
    }
</style>



<%- include('./layouts/header.ejs') %>
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-body mb-4 shadow-sm">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light" >
                            <i class="text-primary material-icons md-monetization_on" style="margin-top: 13px;"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span>$13,456.5</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-body mb-4 shadow-sm">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light">
                            <i class="text-success material-icons md-local_shipping" style="margin-top: 13px;"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6>
                            <% if (typeof number != "undefined") { %>
                            <span><%= number %></span>
                            <% } %>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-body mb-4 shadow-sm">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light">
                            <i class="text-warning material-icons md-qr_code" style="margin-top: 13px;"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6>
                            <% if (typeof ProductCount != "undefined") { %>
                            <span><%= ProductCount %></span>
                            <% } %>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-body mb-4 shadow-sm">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light">
                            <i class="text-info material-icons md-shopping_basket" style="margin-top: 13px;"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Users</h6>
                            <% if (typeof userCount != "undefined") { %>
                            <span><%= userCount %></span>
                            <% } %>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-lg-12 mb-4">
                <div class="card shadow-sm">
                    <article class="card-body">
                        <h5 class="card-title">Sale Statistics</h5>
                        <canvas id="myChart" height="220"></canvas>
                    </article>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12 mb-4" style="height: 500px;">
                <div class="card shadow-sm">
                    <article class="card-body">
                        <h4 class="card-title">New Members</h4>
                        <hr>
                        <div class="new-member-list">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="ml-3">
                                        <h6>Tomas Baker</h6>
                                        <p class="text-muted font-xs">San Francisco</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="ml-3">
                                        <h6>Tomas Baker</h6>
                                        <p class="text-muted font-xs">San Francisco</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="ml-3">
                                        <h6>Tomas Baker</h6>
                                        <p class="text-muted font-xs">San Francisco</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="ml-3">
                                        <h6>Tomas Baker</h6>
                                        <p class="text-muted font-xs">San Francisco</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="ml-3">
                                        <h6>Tomas Baker</h6>
                                        <p class="text-muted font-xs">San Francisco</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                    <div class="card shadow-sm">
                        <article class="card-body">
                            <h4 class="card-title">New Product</h4>
                            <hr>
                            <div class="new-member-list">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/imgs/people/avatar-4.png" alt="" class="avatar" />
                                        <div class="ml-3">
                                            <h6>Patric Adams</h6>
                                            <p class="text-muted font-xs">San Francisco</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/imgs/people/avatar-2.png" alt="" class="avatar" />
                                        <div class="ml-3">
                                            <h6>Dilan Specter</h6>
                                            <p class="text-muted font-xs">San Francisco</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/imgs/people/avatar-3.png" alt="" class="avatar" />
                                        <div class="ml-3">
                                            <h6>Tomas Baker</h6>
                                            <p class="text-muted font-xs">San Francisco</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/imgs/people/avatar-3.png" alt="" class="avatar" />
                                        <div class="ml-3">
                                            <h6>Tomas Baker</h6>
                                            <p class="text-muted font-xs">San Francisco</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/imgs/people/avatar-3.png" alt="" class="avatar" />
                                        <div class="ml-3">
                                            <h6>Tomas Baker</h6>
                                            <p class="text-muted font-xs">San Francisco</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

            </div>

            
        </div> 

        <div class="col-xl-8 col-lg-12 mb-4" style="margin-top: -25px;">
            <div class="card shadow-sm">
                <article class="card-body">
                    <h5 class="card-title">Best Selling  Product</h5>

                </article>
            </div>
        </div>

        <div class="col-xl-8 col-lg-12 mb-4" >
            <div class="card shadow-sm">
                <article class="card-body">
                    <h5 class="card-title">Best Selling Category</h5>

                </article>
            </div>
        </div>

    </section>

</main>
<%- include('./layouts/footer.ejs') %>

<link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>