<%- include('./layouts/header.ejs') %>
<main class="main-wrap">



    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Offer</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <form id="offerForm">
                            <input type="hidden" id="offID" value="<%= offers._id %>">
                            <div class="mb-4">
                                <label class="form-label">Offer Name</label>
                                <input type="text" id="offerName" name="offerName"  class="form-control"  value="<%= offers.name %>" required />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Discount Percentage</label>
                                <input type="number" id="discountPercentage" name="discountPercentage"  class="form-control" min="0" max="90"  value="<%= offers.discount %>" required />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <input type="text" id="description" name="description"  class="form-control" rows="4"   value="<%= offers.description %>" required></input>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Start Date</label>
                                <input type="date" id="startDate" name="startDate"  class="form-control"  value="<%= offers.startDate %>" required />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Expiry Date</label>
                                <input type="date" id="expiryDate" name="expiryDate"  class="form-control"  value="<%= offers.endDate %>" required />
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-md rounded font-sm hover-up">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; Nest - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">All rights reserved</div>
            </div>
        </div>
    </footer>
</main>
<%- include('./layouts/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
        <script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('offerForm');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            if (!validateForm()) {
                return; 
            }

            const discountPercentage = document.getElementById('discountPercentage').value;
            if (discountPercentage < 0 || discountPercentage > 90) {
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Discount Percentage',
                    text: 'Discount percentage must be between 0 and 100.'
                });
                return; 
            }

            const formData = new FormData(form);

            axios.post('/admin/editOfferSave', {
                id:document.getElementById("offID").value,
                name: formData.get('offerName'),
                discount: formData.get('discountPercentage'),
                description: formData.get('description'),
                startDate: formData.get('startDate'),
                endDate: formData.get('expiryDate')
            })
            .then(function (response){
                if(response.data.Done){
                    Swal.fire({
                      title: "Saved",
                      icon: "success",
                      confirmButtonColor: "#3085d6",
                      confirmButtonText: "Ok",
                      allowOutsideClick:false,
                          }).then((result) => {
                            if (result.isConfirmed){
                                window.location.href="/admin/offAndcop"
                            }
                          });
                }
                
            })
            .catch(function (error){
                   console.log(error)
            });
        });

        function validateForm() {
            const offerName = document.getElementById('offerName').value;
            const discountPercentage = document.getElementById('discountPercentage').value;
            const description = document.getElementById('description').value;
            const startDate = document.getElementById('startDate').value;
            const expiryDate = document.getElementById('expiryDate').value;

            if (!offerName || !discountPercentage || !description || !startDate || !expiryDate) {
                Swal.fire({
                    icon: 'error',
                    title: 'Missing Fields',
                    text: 'Please fill in all fields.'
                });
                return false;
            }

            return true; 
        }
    });
</script>






