<%- include('./layouts/header.ejs') %>
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title card-title">Orders</h2>
            <div class="d-flex">
                <a href="/admin/returnOrder" class="btn btn-primary btn-sm rounded" style="margin-left: 600px;" >Return Requested</a>
            </div>
        </div>
       
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Product Image</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(function(order) { %>
                                <tr>
                                    <td>
                                        <a href="/admin/viewOrder?id=<%= order.ID %>&user=<%= order.user %>&page=order">
                                            <img src="/productImages/<%= order.image %>" alt="Product Image" class="img-fluid rounded" style="width: 100px; height: auto;">
                                        </a>
                                    </td>
                                    <td><%= order.productName %></td>
                                    <td><%= order.name %></td>
                                    <td><%= order.paymentMethod %></td>
                                    <td><%= order.paymentStatus ? 'Paid' : 'Not paid' %></td>
                                    <td>$<%= order.Total %></td>
                                    <td>
                                        <% if(order.Status === 'Pending') { %>
                                            <span class="badge rounded-pill alert-warning">Pending</span>
                                        <% } else if(order.Status === 'Canceled') { %>
                                            <span class="badge rounded-pill alert-danger">Canceled</span>
                                        <% } else if(order.Status === 'Delivered') { %>
                                            <span class="badge rounded-pill alert-success">Delivered</span>
                                        <% } else if(order.Status === 'Return') { %>
                                            <span class="badge rounded-pill alert-primary">Return</span>
                                        <% } else { %>
                                            <span class="badge rounded-pill alert-success"><%= order.Status %></span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <a href="/admin/viewOrder?id=<%= order.ID %>&user=<%= order.user %>" 
                                           class="btn btn-md rounded font-sm" 
                                           style="background-color: #249cff; color: white; padding: 5px 10px; border-radius: 5px; text-decoration: none; display: inline-block; margin-right: 5px;">
                                           Detail
                                        </a>
                                        <div class="dropdown" style="display: inline-block;">
                                            <a href="#" data-bs-toggle="dropdown" 
                                               class="btn btn-md rounded btn-sm font-sm" 
                                               style="background-color: #6c757d; color: white; padding: 5px 10px; border-radius: 5px; text-decoration: none;">
                                               Edit
                                            </a>
                                            <% if (order.Status === 'Pending') { %>
                                                <div class="dropdown-menu" style="padding: 0; border-radius: 5px; overflow: hidden;">
                                                    <a class="dropdown-item" href="#" data-action="Delivered" data-order-id="<%= order.ID %>" data-user-id="<%= order.user %>"
                                                        style="background-color: #00a800; color: white; padding: 10px 15px; display: block; text-align: center; text-decoration: none;">
                                                        Delivered
                                                    </a>
                                                    <a class="dropdown-item" href="#" data-action="Canceled" data-order-id="<%= order.ID %>" data-user-id="<%= order.user %>"
                                                        style="background-color: #d34509; color: rgb(255, 255, 255); padding: 10px 15px; display: block; text-align: center; text-decoration: none;">
                                                        Canceled
                                                    </a>
                                                    <a class="dropdown-item" href="#" data-action="shipped" data-order-id="<%= order.ID %>" data-user-id="<%= order.user %>"
                                                        style="background-color: #0f83a7; color: rgb(255, 255, 255); padding: 10px 15px; display: block; text-align: center; text-decoration: none;">
                                                        Shipped
                                                    </a>
                                                </div>
                                            <% } %>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                                
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>

<link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownItems = document.querySelectorAll('.dropdown-item');

        for (let i = 0; i < dropdownItems.length; i++) {
    dropdownItems[i].addEventListener('click', function(event) {
        event.preventDefault(); 

        const action = dropdownItems[i].dataset.action;
        const orderID = dropdownItems[i].dataset.orderId;
        const userID = dropdownItems[i].dataset.userId;

        Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, change it!"
        }).then((result) => {
          if (result.isConfirmed) {
            
         axios.get(`/admin/statusChange?action=${action}&orderId=${orderID}&userId=${userID}`)
            .then(response => {
                     if(response.data.Done){
                        Swal.fire({
                          title: "Changes!",
                          text: "Your data has been changed.",
                          icon: "success"
                        }).then((result)=>{
                            if(result.isConfirmed){
                                window.location.reload()
                            }
                        })
                     }
            })
            .catch(error => {
                console.error(`Error ${action} order:`, error);
            });
          }
        });




      
    });
}

    });
</script>


<%- include('./layouts/footer.ejs') %>
