<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #ffffff;
    }
    .table th,
    .table td {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid #000000;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #8cff00;
        background-color: #343a40;
        color: #ffffff;
    }
    .table-bordered {
        border: 1px solid #000000;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
    }
    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px;
    }
    .table th,
    .table td {
        text-align: center;
    }
    #filterButtons {
        background-color: #3BB77E;
        color: white;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border: none;
        cursor: pointer;
    }
    #filterButtons:hover {
        background-color: #004424;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .btn-primary {
        background-color: #3BB77E;
        border: none;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        cursor: pointer;
    }
    .btn-primary:hover {
        background-color: #004424;
    }
    .content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content-title a {
        margin-left: auto;
    }
    .card {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .card-body {
        padding: 2rem;
    }
    .no-data {
        color: red;
        text-align: center;
    }
</style>

<%- include('./layouts/header.ejs') %>
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">
                Sales Report 
            </h2>
        </div>
       
        <div class="row align-items-center mb-4">
            <div class="col-md-2 col-6">
                <form action="/admin/filterSalesByDateRange" id="dateRangeForm" method="post">
                    <input type="date" name="startDate" class="form-control" id="startDate" style="background-color: #3BB77E; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; color: #ffffff;" required/>
                    <input type="date" name="endDate" class="form-control" id="endDate" style="background-color: #3BB77E; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; color: #ffffff; margin-top: 10px;" required/>
                    <button type="submit" class="form-control" id="filterButtons" style="margin-top: 10px;">Filter</button>
                </form>
            </div>
            
            <div class="col-md-2 col-6">
                <form action="/admin/filterSales" id="formSub" method="post">
                    <input type="date" name="date" class="form-control" value="<%= typeof selectedDate != 'undefined' ? selectedDate : ''  %>" id="dateForm" style="background-color: #3BB77E; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; color: #ffffff;" />
                </form>
            </div>           
           
            <% if(typeof query != 'undefined' && query == "Monthly"){ %>
                <div class="col-md-2 col-6">
                  <a href="/admin/filterSales2?filterBy=Monthly"><button class="form-control" id="filterButtons" style="background-color: #343a40; color: #ffffff;">Monthly</button></a>
                </div>
           <% }else { %>
              <div class="col-md-2 col-6">
                <a href="/admin/filterSales2?filterBy=Monthly"><button class="form-control" id="filterButtons" >Monthly</button></a>
              </div>
             <% } %>   

             <% if(typeof query != 'undefined' && query == "Today"){ %>
                <div class="col-md-2 col-6">
                  <a href="/admin/filterSales2?filterBy=Today"><button class="form-control" id="filterButtons" style="background-color: #343a40; color: #ffffff;">Today</button></a>
                </div>
           <% }else { %>
              <div class="col-md-2 col-6">
                <a href="/admin/filterSales2?filterBy=Today"><button class="form-control" id="filterButtons" >Today</button></a>
              </div>
             <% } %>

             <div class="col-md-2 col-6">
                <a href="/admin/sales"><button class="form-control" id="filterButtons"  style="background-color: #343a40; color: #ffffff ;">reset</button></a>
             </div>   
             
             <div  class="col-md-2 col-6">
                <a href="#" class="btn btn-primary btn-sm rounded" id="Export" style="background-color: #343a40; color: #ffffff ;">Export</a>
                   
                </div>
        </div>
        
        <div class="card mb-4" id="salesReport">   
            <div class="card-body">
                <div class="table-responsive">
                    <% if(typeof salesData != 'undefined' && salesData.length != 0){ %>
                    <table class="table table-hover table-striped table-bordered" id="tableData">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date</th>
                                <th>Order Count</th>
                                <th>Razorpay</th>
                                <th>COD</th>
                                <th>Wallet</th>
                                <th>Income</th>
                            </tr>
                        </thead>
                        <tbody>             
                            <% for (let i = 0; i < salesData.length; i++) { %>
                                <tr>
                                    <td><%= salesData[i]._id.orderedDate %></td>
                                    <td><%= salesData[i].totalCount %></td>
                                    <td><%= salesData[i].razorpay %></td>
                                    <td><%= salesData[i].cod %></td>
                                    <td><%= salesData[i].wallet %></td>
                                    <td>$<%= salesData[i].totalRevenue %></td>
                                </tr>
                            <% } %> 
                        </tbody>
                    </table>
                    <% } else { %>
                    <h2 class="no-data">No Sales Data</h2>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; Nest - HTML Ecommerce Template.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">All rights reserved</div>
            </div>
        </div>
    </footer>
</main>

<%- include('./layouts/footer.ejs') %>

<link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

<script>
    var notyf = new Notyf();

    document.getElementById("Export").addEventListener("click", function(event) {
        event.preventDefault();
        Swal.fire({
            title: 'Choose Download Format',
            text: 'Would you like to download as PDF or Excel?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'PDF',
            cancelButtonText: 'Excel',
            showCloseButton: true,
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                const invoiceElement = document.getElementById('salesReport');
                html2pdf(invoiceElement, {
                    margin: 1,
                    filename: 'Pillow Mart Sales Report.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter' }
                });
                notyf.success("Downloading");
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                let tableData = document.getElementById('tableData');
                const wb = XLSX.utils.table_to_book(tableData);
                const ws = wb.Sheets[wb.SheetNames[0]];
                const wscols = [
                    { wch: 20 }, 
                    { wch: 15 }, 
                    { wch: 15 }, 
                    { wch: 15 }, 
                    { wch: 15 }, 
                    { wch: 20 }  
                ];
                ws['!cols'] = wscols;
                XLSX.writeFile(wb, 'PillowMartSales-report-excel.xlsx');
                notyf.success("Downloading");
            }
        });
    });

    document.getElementById("dateForm").addEventListener("change", function() {
        document.getElementById("formSub").submit();
    });

</script>
