<%- include('./layout/header.ejs') %>
<!--::header part start::-->
<%- include('./layout/navbar.ejs') %>
<!-- Header part end-->

<!-- breadcrumb part start-->
<section class="breadcrumb_part" style="height: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner ">
                    <h2 id="RvText">Welcome to Cart</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->

<!--================ Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <form action="/checkout" method="POST">
                <table class="table">
                    <% if (typeof carts !== 'undefined') { %>
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% carts.forEach(cart => { %>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <a href="/single-product?id=<%= cart.productInfos._id %>">
                                                    <img src="/productImages/<%= cart.productInfos.image[0] %>" alt="image" />
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <p><%= cart.productInfos.productTitle %></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <% if (cart.productInfos.offPrice && cart.productInfos.offPrice != 0) { %>
                                            <span class="mb-1" style="margin-right: 10px;">$<%= cart.productInfos.offPrice %></span>
                                            <del class="text-muted" style="font-size: 16px; margin-right: 10px;">$<%= cart.productInfos.price %></del>
                                            <span class="badge bg-success" style="font-size: 14px; padding: 5px 10px; color: white;">$<%= cart.productInfos.percentage %>% Offer</span>
                                        <% } else { %>
                                            <span>$<%= cart.productInfos.price %></span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <div style="display: flex; align-items: center; border-radius: 5px; overflow: hidden;">
                                            <button type="button" onclick="decrement('<%= cart.productInfos._id %>','<%= cart.quantity %>')" style="background-color: #ddd; color: #000000; border: none; font-size: 18px; padding: 8px 12px; cursor: pointer; border-radius: 5px 0 0 5px; transition: background-color 0.3s, transform 0.2s; outline: none;">
                                                -
                                            </button>
                                            <span class="quantity" data-id="<%= cart.productInfos._id %>" style="font-size: 18px; padding: 8px 12px; color: #000000; background: #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                                                <%= cart.quantity %>
                                            </span>
                                            <button type="button" onclick="increment('<%= cart.productInfos._id %>','<%= cart.quantity %>')" style="background-color: #ddd; color: #000000; border: none; font-size: 18px; padding: 8px 12px; cursor: pointer; border-radius: 0 5px 5px 0; transition: background-color 0.3s, transform 0.2s; outline: none;">
                                                +
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="total" data-id="<%= cart.productInfos._id %>">
                                                $<%= cart.total %>
                                        </h4>
                                    </td>
                                    <td>
                                        <button class="btn_1" onclick="removeCart('<%= cart.productInfos._id %>')">Remove Item</button>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <h3>Subtotal</h3>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span style="font-size: x-large;">$<span class="subtotal" id="changeSubtotal"><%= total %></span></span>
                                </td>
                            </tr>
                        </tfoot>
                    <% } else if (typeof emptyCart !== 'undefined') { %>
                        <tr>
                            <td colspan="5">
                                <h3>Your cart is empty</h3>
                            </td>
                        </tr>
                    <% } %>
                </table>
                
                <div class="checkout_btn_inner float-right">
                    <% if (typeof carts !== 'undefined') { %>
                        <a class="btn_1" href="/product">Continue Shopping</a>
                        <button type="submit" class="btn_1 checkout_btn_1">Proceed to checkout</button>
                    <% } else if (typeof emptyCart !== 'undefined') { %>
                        <a class="btn_1" href="/product">Add Product</a>
                        <button style="background-color: rgb(220, 43, 43);" id="cantWithoutCartEmpty" class="btn_1 checkout_btn_1" disabled>Empty Cart</button>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

<!--::footer_part start::-->
<footer class="footer_part">
    <div class="copyright_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <p>Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <div class="copyright_link">
                            <a href="#">Terms & Conditions</a>
                            <a href="#">FAQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

   <script>
    var notyf = new Notyf();

    function removeCart(removeID) {
        axios.get(`/cart/cartDelete?id=${removeID}`)
            .then((response) => {
                if (response.data.done) {
                    window.location.reload();
                }
            })
            .catch((error) => {
                console.log(error);
            });
    }

    function increment(id,qty) {

        if (qty >= 10) {
            notyf.error("Maximum Quantity is 10")
            return;
        }

let body= { id: id, action: "increment" }

        axios.post("/cart/qtyCart",body)
            .then((response) => {
                if (response.data.dataToSend) {
                     let data = response.data.dataToSend
               document.getElementById("changeSubtotal").innerHTML = data.subtotal

               const quantityElement = document.querySelector(`.quantity[data-id="${id}"]`);
                if (quantityElement) {
                    quantityElement.innerHTML = data.qyt;
                }


                const totalElement = document.querySelector(`.total[data-id="${id}"]`);
                if (totalElement) {
                    totalElement.innerHTML = `$${data.total}`;
                }

                } else if(response.data.max) {
                    notyf.error("Maximum Stock Reached")
                } else {
                    notyf.error("Maximum order Quantity is 10")
                }
            })
            .catch((error) => {
                console.log(error);
            });
    }
    
    
    
    

    function decrement(id,qty) {

let body= { id: id, action: "decrement" }        

        axios.post("/cart/qtyCart", body)
            .then((response) => {

                    if (response.data.dataToSend) {

                     let data = response.data.dataToSend

                    document.getElementById("changeSubtotal").innerHTML = data.subtotal

                    const quantityElement = document.querySelector(`.quantity[data-id="${id}"]`);
                     if (quantityElement) {
                         quantityElement.innerHTML = data.qyt;
                     }


                     const totalElement = document.querySelector(`.total[data-id="${id}"]`);
                     if (totalElement) {
                         totalElement.innerHTML = `$${data.total}`;
                     }

                     } else {
                         notyf.error("Minimum order Quantity is 1")
                     }
               
            })
            .catch((error) => {
                console.log(error);
            });
    }

</script>

<!-- jquery plugins here-->
<script src="/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/js/swiper.min.js"></script>
<!-- mixitup js -->
<script src="/js/mixitup.min.js"></script>
<!-- particles js -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>
</body>
</html>