<style>
    .modal {
    z-index: 1050;
}
    .modal-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #dee2e6;
    }

    .modal-title {
        font-weight: bold;
    }

    .modal-body {
        font-size: 0.9rem;
    }

    .modal-body h6 {
        font-size: 1rem;
        font-weight: bold;
    }

    .modal-body p {
        margin-bottom: 0.5rem;
    }

    .table {
        margin-bottom: 0;
    }

    .table thead th {
        background-color: #f8f9fa;
    }

    .table tfoot th {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    .modal-footer {
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
    }
</style>

<%- include('./layout/header.ejs') %>
<!--::header part start::-->
<%- include('./layout/navbar.ejs') %>
<!-- Header part end-->

<!-- breadcrumb part start-->
<section class="breadcrumb_part" style="height: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2 id="RvText">Checkout</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->

<!--================Checkout Area =================-->
<section class="checkout_area section_padding" >
    <div class="container" style="margin-top: -150px;">
        <div class="cupon_area">
            <div class="check_title">
                <h2>Coupon Section</h2>
            </div>
            <input  id="couponCode" type="text" placeholder="Enter coupon code"/>
            <a id="couponApply" class="tp_btn" href="#">Apply Coupon</a>
            <a id="CouponShow" class="tp_btn" href="#">Show available Coupon</a>
        </div>
        <hr>
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h1>ADDRESS DETAILS</h1>
                    <section class="user_addresses">
                        <h3>Available Addresses:</h3>
                        <h4 style="color: brown;">Select Addresses By Clicking the Circle :</h4>
                      <% if(typeof userAddresses != 'undefined'){ %>
                            <form id="addressForm" action="/checkout" method="post">
                                <% userAddresses.forEach(function(address) { %>
                                    <div class="info-box">
                                        <div class="Check-info-header">
                                            <div class="Check-radio-input">
                                                <input type="radio" id="<%= address.Code %>" name="address" value="<%= address.Code %>" required>
                                                <div class="Check-circle"></div>
                                            </div>
                                            <span id="nameB" ><%= address.Bname %></span>
                                            <span class="Check-arrow"></span>
                                        </div>
                                        <div class="Check-info-content">
                                            <h6>Name: <%= address.name %></h6>
                                            <h6>Phone: <%= address.phone %></h6>
                                            <h6>Email: <%= address.email %></h6>
                                            <h6>Address: <%= address.address %></h6>
                                            <h6>City: <%= address.town %></h6>
                                            <h6>Pincode: <%= address.pincode %></h6>
                                        </div>
                                    </div>
                                    <br>
                                <% }); %>
                            </form>
                        <% }else{ %>
                              <h3>You don't have address</h3>
                           <% } %> 
                        <hr>
                        <h1>Add new Address</h1>
                        <button id="addAddressButton" class="btn_3">Add Address</button>
                        <br>
                        <hr>
                        <div class="address_form_fields" style="display: none;">
                            <h3>Add New Address:</h3>
                            <form id="newAddressForm">
                                <div class="col-md-12 form-group">
                                    <span style="margin-left: 10px;">Name</span>
                                    <input type="text" class="form-control" id="name" name="name" required/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <span style="margin-left: 10px;">Work or Home</span>
                                    <input type="text" class="form-control" id="Bname" name="Bname" required/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <span style="margin-left: 10px;">phone</span>
                                    <input type="number" class="form-control" id="phone" name="phone" required/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <span style="margin-left: 10px;">email</span>
                                    <input type="text" class="form-control" id="email" name="email" required/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <span style="margin-left: 10px;">address</span>
                                    <input type="text" class="form-control" id="address" name="address" required/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <span style="margin-left: 10px;">city</span>
                                    <input type="text" class="form-control" id="city" name="city"  required/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <span style="margin-left: 10px;">pincode</span>
                                    <input type="number" class="form-control" id="pincode" name="pincode" required/>
                                </div>

                                <button  class="col-md-12 form-group" id="saveAddressButton" style="border-radius: 6px; height: 40px; margin-left: 10px;">Save Address</button>
                            </form>
                        </div>
                    </section>
                    <h3>Select Payment Method:</h3>
                    <div class="Check-radio-input">
                        <input type="radio" id="cash" name="payment_method" value="CashOnDelivery" required>
                        <div class="Check-circle"></div>
                        <label for="cash">Cash On Delivery</label>
                    </div>
                    <br>
                    <div class="Check-radio-input">
                        <input  type="radio" id="Razorpay" name="payment_method" value="Razorpay" required>
                        <div class="Check-circle"></div>
                        <label for="cash">Razorpay</label>
                    </div>
                    <br>
                    <div class="Check-radio-input">
                        <input  type="radio" id="wallet" name="payment_method" value="wallet" required>
                        <div class="Check-circle"></div>
                        <label for="cash">wallet</label>
                    </div>
                    <br>
                    <button id="proceedButton" class="btn_3" type="button" onclick="proceed()">Click to Proceed</button>
                </div>
                <div class="col-lg-4" >
                    <div class="order_box" style="width: 380px;">
                        <h2>Your Order Details</h2>
                        <table style="width: 100%; border-collapse: collapse;">
                            <thead>
                                <tr style="background-color: #f4f4f4;">
                                    <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Qty.</th>
                                    <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Product Name</th>
                                    <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% for (let i = 0; i < Products.length; i++) { %>
                                    <tr>
                                        <td style="padding: 10px; border-bottom: 1px solid #ddd; font-weight: 300;"><%= Products[i].quantity%></td>
                                        <td style="padding: 10px; border-bottom: 1px solid #ddd; font-weight: 300;"><%= Products[i].productInfo.productTitle %></td>        
                                        <td style="padding: 10px; border-bottom: 1px solid #ddd; font-weight: 300;">$<%= Products[i].productTotal %></td>
                                        <input type="hidden" name="productId" value="<%= Products[i].productInfo._id %>">
                                    </tr>
                                

                                <% } %>
                                
                            </tbody>
                        </table>
                        <hr>
                        <div class="order_box" style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
                            <div style="display: flex; justify-content: space-between; padding: 10px;">
                                <span>Subtotal :</span>
                                <span id="subShow">$ <%= subtotal %></span>
                            </div>
                            <div style="display: flex; justify-content: space-between; padding: 10px;">
                                <span>Coupon Discount :</span>
                                <span id="couponDiscount">$ 0</span>
                            </div>
                            <div style="display: flex; justify-content: space-between; padding: 10px;">
                                <span>Shipping Fee :</span>
                                <span id="couponDiscount">$ 50</span>
                            </div>
                            <hr>
                            <div style="display: flex; justify-content: space-between; padding: 10px;">
                                <span><h4 style="font-weight: bolder;">Total :</h4></span>
                                <input type="hidden" value="" id="couponToSend">
                                <span id="totalAfterDiscount"><h4 style="font-weight: bolder;">$ <%= subtotal + 50 %></h4></span>
                            </div>
                            <input type="hidden" id="subtotal" value="<%= subtotal %>">
                            <input type="hidden" id="walletMoney" value="<%= walletMoney %>">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->


 <!-- Order Confirmation Modal -->
<div class="modal fade" id="orderConfirmationModal" tabindex="-1" aria-labelledby="orderConfirmationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderConfirmationModalLabel">Order Confirmation</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <h6>Order Details</h6>
                            <p><strong>Order Number:</strong> <span id="orderNumber"></span></p>
                            <p><strong>Order Date:</strong> <span id="orderDate"></span></p>
                            <p><strong>Order Total:</strong> <span id="orderTotal"></span></p>
                            <p><strong>Payment Method:</strong> <span id="paymentMethod"></span></p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <h6>Billing Address</h6>
                            <p><strong>Billing Address:</strong> <span id="billingAddress" ></span></p>
                            <p><strong>Billing City:</strong> <span id="billingCity"    ></span></p>
                            <p><strong>Billing Phone:</strong> <span id="billingPhone"   ></span></p>
                            <p><strong>Billing Postcode:</strong> <span id="billingPostcode"></span></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <h6>Order Items</h6>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="orderDetailsTableBody"></tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="3" class="text-right">Coupon</th>
                                            <th id="couponModal">No Coupon</th>
                                        </tr>
                                        <tr>
                                            <th colspan="3" class="text-right">Shipping Fee</th>
                                            <th >$50</th>
                                        </tr>
                                        <tr>
                                            <th colspan="3" class="text-right">Subtotal</th>
                                            <th id="modalSubtotal"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h2 style="margin-right: 170px;">Thank You For Ordering</h2>
                <button type="button" class="btn btn-secondary" id="closeMOdal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--::footer_part start::-->
<footer class="footer_part">

    <div class="copyright_part">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <P>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        </P>
                        <div class="copyright_link">
                            <a href="#">Terms & Conditions</a>
                            <a href="#">FAQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

<link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
     var notyf = new Notyf();
    document.getElementById('addAddressButton').addEventListener('click', function() {
        document.querySelector('.address_form_fields').style.display = 'block';
    });

    function proceed(){
    const selectedAddress = document.querySelector('input[name="address"]:checked');
    const paymentMethod = document.querySelector('input[name="payment_method"]:checked');
    const subtotal = document.getElementById('subtotal').value;
    const walletMoney = document.getElementById('walletMoney').value;
    var couponToSend = document.getElementById('couponToSend').value

    console.log(paymentMethod,subtotal,walletMoney)

    if(paymentMethod.value == "CashOnDelivery" && subtotal > 1000 ){
        Swal.fire({
        icon: "error",
         text:"Cash on Delivery (COD) is not available for orders exceeding $1000. Please choose an alternate payment method"
            })
    }else{
    
    if(selectedAddress){
        if(paymentMethod){
         const navv = document.getElementById("navv").style.display = 'none';

         if(paymentMethod.value === 'wallet' && parseFloat(walletMoney) < parseFloat(subtotal)) {
            const navv = document.getElementById("navv").style.display = 'block';
            notyf.error("Can't use Insufficient Balance")
                return;
            }
                    Swal.fire({
                      title: "Are you sure?",
                      icon: "question",
                      showCancelButton: true,
                      confirmButtonColor: "#3085d6",
                      cancelButtonColor: "#d33",
                      confirmButtonText: "Yes, Order it!"
                          }).then((result) => {
                            if (result.isConfirmed){

                    const addressCode = selectedAddress.value;
                    const orderDetails = [];
                    const tableRows = document.querySelectorAll('.order_box table tbody tr');
                    const productIds = [];
                    
                    document.querySelectorAll('input[name="productId"]').forEach(input => {
                        productIds.push(input.value);
                    });

                    tableRows.forEach(row =>{
                        const quantity = row.children[0].innerText;
                        const productTitle = row.children[1].innerText;
                        const total = row.children[2].innerText;
                        const productId = row.querySelector('input[name="productId"]').value;

                        orderDetails.push({
                            quantity: parseInt(quantity),
                            productTitle: productTitle,
                            total: parseFloat(total.replace('$', '').trim()),
                            productId: productId,
                        });
                    });
                    
                    let subttl = parseInt(subtotal)+50;
                    const data = {
                        addressCode: addressCode,
                        paymentMethod: paymentMethod.value,
                        orderDetails: orderDetails,
                        subtotal: subttl,
                        coupon:couponToSend
                    };

                    if(paymentMethod.value == "CashOnDelivery"||paymentMethod.value == "wallet"){
                        Swal.fire({
                                title: "Order Placed!",
                                text: "Your Order has been placed.",
                                icon: "success"
                              });
                    }

                    axios.post('/orderConfirm', data)
                        .then(function(response){
                            if (response.data.method) {
                                showOrderConfirmationModal(response.data);
                            }else if(response.data.razo){
                                const navv = document.getElementById("navv").style.display = 'block';       
                        
                        const orderData = response.data;
                        
                            const options = {
                                key: `${orderData.razoID}`,
                                amount: orderData.razo.amount,
                                currency: orderData.razo.currency,
                                name: 'Pillow Mart',
                                description: "Transaction",
                                order_id: orderData.razo.id,
                                handler: async function (response) {
                                    Swal.fire({
                                       title: "Order Placed!",
                                       text: "Your Order has been placed.",
                                       icon: "success"
                                    });
                                    console.log(response);
                                    
                                       axios.post("/razpayOrderPlace",orderData)

                                    showOrderConfirmationModal(orderData);
                                },
                                "prefill": {
                                     "name": "Mushrf",
                                     "email": "g@example.com",
                                     "contact": "9000090000"
                                },
                                theme: {
                                    color: '#B08EAD'
                                }
                            };
                            
                            const rzp = new Razorpay(options);

                            rzp.open();
                                           
                            }else{
                                notyf.error("Failed to place order. Please try again.");
                            }

                        })
                        .catch(function(error){
                            notyf.error("An error occurred. Please try again.");
                        });
                            }else{
                                const navv = document.getElementById("navv").style.display = 'block';
                            }
                     });

        }else{
            notyf.error("Select Payment Method");
        }
    }else{
        notyf.error("Select an address");
    }
    }
// 

}

function showOrderConfirmationModal(orderData){

    document.getElementById('orderNumber').innerText = orderData.orderNumber;
    document.getElementById('orderDate').innerText = orderData.orderDate;
    document.getElementById('orderTotal').innerText = `$${orderData.orderTotal}`;
    document.getElementById('paymentMethod').innerText = orderData.method;

    document.getElementById('billingAddress').innerText = orderData.billingAddress.address;
    document.getElementById('billingCity').innerText = orderData.billingAddress.town;
    document.getElementById('billingPhone').innerText = orderData.billingAddress.phone;
    document.getElementById('billingPostcode').innerText = orderData.billingAddress.pincode;

    const orderDetailsTableBody = document.getElementById('orderDetailsTableBody');
    orderDetailsTableBody.innerHTML = '';

    orderData.orderDetails.forEach(detail => {
        const row = document.createElement('tr');
        row.innerHTML = `
            <th colspan="2"><span>${detail.productTitle}</span></th>
            <th>x${detail.quantity}</th>
            <th><span>$${detail.total}</span></th>
        `;
        orderDetailsTableBody.appendChild(row);
    });

    // 
    if(orderData.coupon != ''){
        document.getElementById("couponModal").innerHTML=orderData.coupon
    }

    document.getElementById('modalSubtotal').innerText = `$${orderData.subtotal}`;

    const modal = new bootstrap.Modal(document.getElementById('orderConfirmationModal'), {
        backdrop: 'static',
        keyboard: false
    });
    const navv = document.getElementById("navv").style.display = 'none';
    
    modal.show();
}

    document.addEventListener('DOMContentLoaded', function() {
    const infoHeaders = document.querySelectorAll('.Check-info-header');

    for (let i = 0; i < infoHeaders.length; i++) {
        const infoHeader = infoHeaders[i];
        const infoContent = infoHeader.nextElementSibling;
        const arrow = infoHeader.querySelector('.Check-arrow');

        infoHeader.addEventListener('click', function() {
            if (infoContent.style.display === 'block') {
                infoContent.style.display = 'none';
                arrow.style.transform = 'rotate(0deg)';
            } else {
                infoContent.style.display = 'block';
                arrow.style.transform = 'rotate(90deg)';
            }
        });

        const radioButton = infoHeader.querySelector('input[type="radio"]');
        radioButton.addEventListener('click', function(event) {
            event.stopPropagation();
        });
    }
});

// adding new address for user
  document.getElementById("saveAddressButton").addEventListener('click',function(event){
    event.preventDefault();

    function validateEmail(email) {
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

     return regex.test(email) ? false : true;
    }

   let data = {
    phone : document.getElementById('phone').value,
   name : document.getElementById('name').value,
   Bname : document.getElementById('Bname').value,
   email : document.getElementById('email').value,
   address : document.getElementById('address').value,
   town : document.getElementById('city').value,
   pincode : document.getElementById('pincode').value,
              }

     if(data.name == '' ||data.Bname == '' ||data.phone == '' ||data.email == '' ||data.address == '' ||data.city == '' ||data.pincode == ''){
        notyf.error("Fill the form")
     }else{
        if(data.phone.length !== 10){
            notyf.error("Enter a Valid Phone Number")
        }else if(validateEmail(data.email)){
            notyf.error("Enter a Valid Email")
        }else if(data.pincode.length !== 6){
            notyf.error("Enter a Valid Pincode")
        }else{

       axios.post("/user/addressAddCheckout",data)
       .then(function(response){
           if(response.data.doneMessage){
            const navv = document.getElementById("navv").style.display = 'none';
            Swal.fire({
              title: "Address Created",
              text: "Select Your Address To Proceed",
              icon: "success",
              allowOutsideClick: false
            }).then((result)=>{
                  if(result.isConfirmed){
                      window.location.reload()       
                  }
                              })
           }else if(response.data.message){
             notyf.error("Failed try again")
           }
       }).catch(function(error){
        console.error('Error:', error);
      });  
        }
     }
   

  })  

  document.getElementById("closeMOdal").addEventListener('click',function(){
    const navv = document.getElementById("navv").style.display = 'block';
        window.location.href="/user/order"
  })

  
  
  document.getElementById("CouponShow").addEventListener("click", function(event) {
    event.preventDefault();
    const subtotal = document.getElementById('subtotal').value;
    axios.post("/showCoupon",{subtotal:subtotal})
        .then((response) => {
            if (response.data.data) {
                const coupons = response.data.data;

                let couponHTML = '<h2>Available Coupons</h2>';
                couponHTML += `
                    <table style="width:100%; border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid #ddd; padding: 8px;">Coupon Code</th>
                                <th style="border: 1px solid #ddd; padding: 8px;">Discount</th>
                                <th style="border: 1px solid #ddd; padding: 8px;">Description</th>
                                <th style="border: 1px solid #ddd; padding: 8px;">Expiration Date</th>
                            </tr>
                            <tr>
                            <td colspan="6" style="border: none;"><br></td>
                        </tr>
                        </thead>
                        <tbody>`;

                coupons.forEach((coupon, index) => {
                    couponHTML += `
                        <tr>
                            <td style="border: 1px solid #ddd; padding: 8px;">
                                ${coupon.code}
                                <button onclick="copyToClipboard('coupon-${index}')"  style="border: none;  ">Copy</button>
                                <span id="coupon-${index}" style="display:none;">${coupon.code}</span>
                                </td>
                            <td style="border: 1px solid #ddd; padding: 8px;">$${coupon.discount}</td>
                            <td style="border: 1px solid #ddd; padding: 8px;">${coupon.description}</td>
                            <td style="border: 1px solid #ddd; padding: 8px;">${coupon.endDate}</td>
                        </tr>
                        
                    `;
                });

                couponHTML += `
                        </tbody>
                    </table>`;

                Swal.fire({
                    html: couponHTML,
                    width: '80%',
                    confirmButtonText: "Close",
                    customClass: {
                        container: 'swal2-custom'
                    }
                });
            } else if (response.data.NoData) {
                notyf.error("No coupons available");
            }
        })
        .catch((error) => {
            console.log(error);
        });
});

function copyToClipboard(elementId) {
    const text = document.getElementById(elementId).innerText;
    navigator.clipboard.writeText(text).then(() => {
        notyf.success("Coupon code copied to clipboard");
    }).catch((error) => {
        console.error('Failed to copy text: ', error);
        notyf.error("Failed to copy coupon code");
    });
}


let appliedCoupon = null;

document.getElementById("couponApply").addEventListener("click", function(event) {
    event.preventDefault();

    const code = document.getElementById("couponCode").value;

    if(code == ''){
        notyf.error("Enter a valid code");
    } else if (appliedCoupon) {
        notyf.error("You can only apply one coupon");
    } else {
        let subtotal = parseFloat(document.getElementById('subtotal').value);

        const data = {
            code: code,
            subtotal: subtotal
        };

        axios.post("/applyCoupon", data)
        .then((response) => {
            if(response.data.answer){
                Swal.fire({
                    title: "Coupon Applied",
                    text: "Your Coupon has been Applied.",
                    icon: "success"
                });
                
                const discountAmount = subtotal - response.data.answer;
                
                document.getElementById("subShow").innerHTML = `$ ${subtotal.toFixed(2)}`;
                document.getElementById("couponDiscount").innerHTML = `$ ${discountAmount.toFixed(2)}`;
                let h = response.data.answer + 50
                document.getElementById("totalAfterDiscount").innerHTML = `$ ${h.toFixed(2)}`;

                document.getElementById("subtotal").value = response.data.answer ;
                
                 document.getElementById('couponToSend').value = discountAmount
    
                appliedCoupon = code;
                document.getElementById("couponCode").disabled = true;
                document.getElementById("couponApply").disabled = true;
            } else {
                notyf.error("Invalid Code");
            }
        }).catch((error) => {
            console.log(error);
        });   
    }
});




</script>
<!-- jquery plugins here-->
<script src="js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="js/swiper.min.js"></script>
<!-- swiper js -->
<script src="js/mixitup.min.js"></script>
<!-- particles js -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="js/slick.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
</body>
</html>
