<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
<%- include('./layout/header.ejs') %>
<!--::header part start::-->
<%- include('./layout/navbar.ejs') %>
<!-- Header part end-->
  

<section class="breadcrumb_part" style="height: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2  id="RvText">Product Details</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- product details part start-->
<section class="about_us padding_top padding_bottom padding_left">
    <div class="container"  style="border-radius: 10px;" >
        <div class="row">
            <div class="col-md-6">
                <div class="row" > 
                    <div class="col-md-9"   >
                        <div class="product_img_slide owl-carousel"  >
                            <% for (let i = 0; i < singleData.image.length; i++) { %>
                                <div class="single_product_img">
                                    <img style="height: 380px; width: 480px; margin-top: 10px; " src="/productImages/<%= singleData.image[i] %>"  class="img-fluid main-product-image" data-zoom="productImages/<%= singleData.image[i] %>">
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-3" style="background-color: rgb(255, 255, 255); " >
                        <div class="product_thumbnail mt-2">
                            <% for (let i = 0; i < singleData.image.length; i++) { %>
                                <div class="single_thumbnail_img">
                                    <img src="/productImages/<%= singleData.image[i] %>" alt="thumbnail" class="img-thumbnail thumb-image" style="height: 100px; width: 120px;">
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="background-color:rgb(255, 255, 255); ">
                <div class="single_product_details" style="padding-left: 100px;">
                    <h1 style="margin-top: 30px;" ><%= singleData.productTitle %></h1>
                    <div class="rating_area">
                        <div class="average_rating" style="color: rgb(252, 108, 56);">
                            <span>Average Rating:</span>
                            <span class="rating_value">4</span>
                            <span class="rating_value">/</span>
                            <span class="rating_value">5</span>
                        </div>
                    </div>
                    <div class="product_info">
                        <p><strong>Price: $</strong> 
                                    <% if(singleData.offPrice && singleData.offPrice != 0){ %>
                                        <h4 class="mb-1 me-1" style="display: inline;">$<%= singleData.offPrice %></h4>
                                        <del class="mb-1 me-1" style="color: rgb(6, 79, 6); font-size: medium; margin-left: 5px; display: inline;">$<%= singleData.price %></del>
                                    <% }else{ %>
                                        <h4 class="mb-1 me-1">$<%= singleData.price %></h4>
                                     <% } %>   
                                    </p>
                                    <p><strong>Available Stock:</strong> 
                                        <span >
                                            <% if (singleData.stock === 0) { %>
                                                <span style="color: red;">Out of stock</span>
                                            <% } else if (singleData.stock <= 5) { %>
                                               <span style="color: red;">Only a few left! Hurry up!</span>
                                            <% } else { %>
                                                <span style="color: green;">In Stock</span>
                                            <% } %>
                                        </span>
                                    </p>

                                        <% if(singleData.percentage != 0){ %>

                                            <p><strong>Discount:</strong> <span class="ms-2 badge bg-success text-white   " ><%= singleData.percentage %>% Offer</span ></p>

                                        <% }else{  %>
                                    <p><strong>Discount:</strong> <span >No Offer</span ></p>
                                                                        
                                           <% } %> 
                                    
                                </div>
                                <div>                                    
                                    <p><strong>Specification:</strong></p>
                                    <p>>High quality</p>
                                    <p><strong>Category:</strong></p>
                                    <p>><%= singleData.category %></p>  
                                    <p><strong>Size:</strong></p>
                                    <p>><%= singleData.size %></p>                            
                                </div>
                            </div>
                            
                        </div>
                        <div class="add_to_cart" style="margin-top: 25px; margin-left: 25%; " >
                                <button id="wishButton" class="btn_3" >Add to Wishlist</button>
                                
                                <% if (singleData.stock === 0) { %>
                               
                                <button style="background-color: rgb(163, 5, 5); margin-left: 10px; color: #ffffff;" class="btn_3" disabled  >Out of Stock</button>                                    
                                <% } else { %>
                               
                                <button id="cartButton" style="margin-left: 10px;" class="btn_3" >Add to cart</button>                                      
                                <% } %> 
                                <a href="/product" style="margin-left: 10px;" class="btn_3">GO to product</a> 
                            </div>
                        <div class="product_description">
                            <br>
                            <p><strong>Description:</strong><br> <%= singleData.description %></p>
                        </div>
                    </div>
                </div>
            </section>

<!-- product details part end-->

<!-- Product Reviews -->
<div >
    <div class="col-md-12" style="background-color: rgb(225, 225, 225);" >
        <h3 style="margin-left: 40%; padding-top: 20px;">Product Reviews</h3>
        <div class="review">
            <div class="reviewer"><h3>John Doe</h3></div>
            <div class="rating"><h4>★★★☆☆</h4></div>
            <div class="comment"><h5>This product is amazing! I've been using it for a week now and I'm very satisfied with the quality.</h5></div>
        </div>
        <div class="review">
            <div class="reviewer"><h3>Jane Smith</h3></div>
            <div class="rating"><h4>★★★☆☆</h4></div>
            <div class="comment"><h5>Decent product for the price. It arrived quickly and works as expected.</h5></div>
        </div>
    </div>
</div>


<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or "organic" sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->

<!--::footer_part start::-->
<%- include('./layout/footer.ejs') %>
<!--::footer_part end::-->


<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var notyf = new Notyf();
    document.querySelectorAll('.product_img_slide .single_product_img img').forEach(function(element) {
        new Drift(element, {
            paneContainer: document.querySelector('.product_img_slide'),
            inlinePane: false,
            zoomFactor: 3
        });
    });

    const mainProductImage = document.querySelector('.main-product-image');
    const thumbImages = document.querySelectorAll('.thumb-image');

    thumbImages.forEach(thumbImage =>{
        thumbImage.addEventListener('click',()=>{
            mainProductImage.src = thumbImage.src;
            mainProductImage.dataset.zoom = thumbImage.src;
        });
    });

document.getElementById("wishButton").addEventListener("click",function(event){
    
     axios.post("/cart/addToWishlist?id=<%= singleData._id %>")
     .then(function(response){
            if(response.data.added){
                notyf.success('Added Success');
            }else if(response.data.failed){
                 notyf.error('Not Added');
            }else if(response.data.notAdded){
                 notyf.error('You Need To Login');
            }
          })
          .catch(function(error){
            console.error('Error:',error);
          });
})

document.getElementById("cartButton").addEventListener("click",function(event){
    
    axios.post("/cart/addCart?id=<%= singleData._id %>")
    .then(function(response){
           if(response.data.added){
               notyf.success('Added Success');
           }else if(response.data.failed){
                notyf.error('Not Added');
           }else if(response.data.notAdded){
                notyf.error('You Need To Login');
           }
         })
         .catch(function(error){
           console.error('Error:',error);
         });
})

</script>


<!-- jquery plugins here-->
<script src="/js/jquery-1.12.1.min.js"></script>
<!-- popper j/s -->
<script src="/js/popper.min.js"></script>
<!-- bootstra/p js -->
<script src="/js/bootstrap.min.js"></script>
<!-- easing j/s -->
<script src="/js/jquery.magnific-popup.js"></script>
<!-- swiper j/s -->
<script src="/js/swiper.min.js"></script>
<!-- swiper j/s -->
<script src="/js/mixitup.min.js"></script>
<!-- particle/s js -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<!-- slick js/ -->
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<!-- custom j/s -->
<script src="/js/custom.js"></script>

</body>

</html>  
